* {
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);

  --rose50: hsl(20, 50%, 98%);
  --rose100: hsl(13, 31%, 94%);
  --rose300: hsl(14, 25%, 72%);
  --rose400: hsl(7, 20%, 60%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);
}

body {
  font-size: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  min-height: 100vh;
  font-family: "Red Hat Text", serif;
  /*font weights, 400, 600, 700*/
}

h1 {
  padding: 1em 1em 1em 0em;
}

footer {
  text-align: center;
}

.item-card button {
  position: relative;
  bottom: 9em;
  left: 7em;
  border-radius: 2em;
  border: 1px solid rgba(128, 105, 100, 0.925);
  width: 10em;
  height: 3em;
}

.add-to-cart-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-card {
  padding: 0em 1em 0em 1em;
}

.item-card button img {
  padding-right: 0.5em;
}

.item-label {
  display: flex;
  flex-direction: column-reverse;
}

.item-name-one {
  font-weight: 600;
  color: var(--rose900);
}

.item-name-two {
  color: var(--rose500);
  font-size: 1em;
}

.price {
  color: var(--red);
  font-weight: 600;
}

.dessert-pic {
  width: 20em;
  border-radius: 0.5em;
  padding-bottom: 2em;
}

.attribution {
  font-size: 1em;
  text-align: center;
  padding: 2em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.fa-brands {
  font-size: 3em;
  margin: 1em;
}
